:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}
html,
body {
  width: 100%;
  overflow-x: hidden;
}
.top {
  width: 100%;
  padding: 2rem 4rem;
  max-width: 100%;
  max-height: 40rem;
  background-color: #e8f9ff;
  margin-bottom: 2rem;
}
.title {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 3.6rem;
  font-weight: 700;
  padding-top: 0.8rem;
  padding-bottom: 1.2rem;
  text-shadow: 1px antiquewhite;
}
.description {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
  padding-bottom: 1.2rem;
}
.s-icon {
  width: 32px;
  height: 32px;
  border: none;
}
.searchbar {
  width: 100%;
  max-width: 25rem;
  border: 2.5px solid #c4d9ff;
  border-radius: 16px;
  margin: 0 auto;
  padding: 8px 16px;
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.search,
.s-icon {
  padding: 4px;
}
.search {
  border: none;
}
.img {
  display: block;
}
.images {
  width: 100%;
  height: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 2rem;
  margin-right: 3rem;
  display: grid;
  row-gap: 2rem;
  place-items: center;
  grid-template-columns: repeat(7, 1fr);
}
p {
  text-align: center;
}
